/Build/Data/
/Build/Reports/
/Build/cache.properties
/Build/buildessentials/
/Build/essentials/
/Configuration/
/Data/
/Tests/
/Web/_Resources/
.vagrant
/.idea
/.project
~.swp
.~
/.settings
/.nbproject
.DS_Store
Thumbs.db
/index.html
/Packages/
/composer.phar
/flow.bat
/*.txt
/node_modules/
