[submodule "Packages/Framework/TYPO3.FLOW3"]
	path = Packages/Framework/TYPO3.FLOW3
	url = git://git.typo3.org/FLOW3/Packages/TYPO3.FLOW3.git
[submodule "Packages/Framework/TYPO3.Fluid"]
	path = Packages/Framework/TYPO3.Fluid
	url = git://git.typo3.org/FLOW3/Packages/TYPO3.Fluid.git
[submodule "Packages/Tools/TYPO3.Kickstart"]
	path = Packages/Tools/TYPO3.Kickstart
	url = git://git.typo3.org/FLOW3/Packages/TYPO3.Kickstart.git
[submodule "Packages/Framework/TYPO3.Party"]
	path = Packages/Framework/TYPO3.Party
	url = git://git.typo3.org/FLOW3/Packages/TYPO3.Party.git
[submodule "Build/Common"]
	path = Build/Common
	url = git://git.typo3.org/FLOW3/BuildEssentials.git
[submodule "Packages/Framework/Doctrine.ORM"]
	path = Packages/Framework/Doctrine.ORM
	url = git://git.typo3.org/FLOW3/Packages/Doctrine.ORM.git
[submodule "Packages/Framework/Doctrine.Common"]
	path = Packages/Framework/Doctrine.Common
	url = git://git.typo3.org/FLOW3/Packages/Doctrine.Common.git
[submodule "Packages/Framework/Doctrine.DBAL"]
	path = Packages/Framework/Doctrine.DBAL
	url = git://git.typo3.org/FLOW3/Packages/Doctrine.DBAL.git
[submodule "Packages/Framework/Symfony.Component.Yaml"]
	path = Packages/Framework/Symfony.Component.Yaml
	url = git://git.typo3.org/FLOW3/Packages/Symfony.Component.Yaml.git
[submodule "Packages/Application/Twitter.Bootstrap"]
	path = Packages/Application/Twitter.Bootstrap
	url = git://git.typo3.org/FLOW3/Packages/Twitter.Bootstrap.git
[submodule "Packages/Application/TYPO3.LDAP"]
	path = Packages/Application/TYPO3.LDAP
	url = git://git.typo3.org/FLOW3/Packages/LDAP.git
[submodule "Packages/Application/TYPO3.Form"]
	path = Packages/Application/TYPO3.Form
	url = git://git.typo3.org/FLOW3/Packages/TYPO3.Form.git
[submodule "Packages/Application/TYPO3.FormBuilder"]
	path = Packages/Application/TYPO3.FormBuilder
	url = git://git.typo3.org/FLOW3/Packages/TYPO3.FormBuilder.git
[submodule "Packages/Tools/TYPO3.Surf"]
	path = Packages/Tools/TYPO3.Surf
	url = git://git.typo3.org/FLOW3/Packages/TYPO3.Surf.git
[submodule "Packages/Tools/TYPO3.DocTools"]
	path = Packages/Tools/TYPO3.DocTools
	url = git://git.typo3.org/FLOW3/Packages/TYPO3.DocTools.git
[submodule "Packages/Application/Emberjs"]
	path = Packages/Application/Emberjs
	url = git://github.com/radmiraal/Emberjs.git
[submodule "Documentation"]
	path = Documentation
	url = ssh://git.beech.local/EHRM/Documentation.git
[submodule "Build/Vagrant/Chef"]
	path = Build/Vagrant/Chef
	url = ssh://git.beech.local/Beech/Tools/Vagrant.git
[submodule "Packages/Application/TYPO3.Queue"]
	path = Packages/Application/TYPO3.Queue
	url = git://git.typo3.org/FLOW3/Packages/TYPO3.Queue.git
[submodule "Packages/Framework/Symfony.Component.DomCrawler"]
	path = Packages/Framework/Symfony.Component.DomCrawler
	url = git://git.typo3.org/FLOW3/Packages/Symfony.Component.DomCrawler.git
