/Build/Data/
/Build/Reports/
/Build/cache.properties
/Build/buildessentials/
/Configuration/
/Data/
/Tests/
/Web/_Resources/
.vagrant
/.idea
/.project
~.swp
.~
/.settings
/.nbproject
.DS_Store
Thumbs.db
/index.html
/Packages/Vendor/
/Packages/Application/
/Packages/Library/
/Packages/Framework/
/composer.phar
/flow3.bat
/*.txt
/node_modules/
