[submodule "Documentation"]
	path = Documentation
	url = ssh://git.beech.local/EHRM/Documentation.git
[submodule "Build/CGL/Common/PHP"]
	path = Build/CGL/Common/PHP
	url = git://git.typo3.org/Teams/forge.typo3.org/hudson-helpers/tools/PHP_CodeSniffer.git
