/* Start DataTables */
table.dataTable thead th,
table.dataTable td {
	padding: 8px;
}
table.dataTable tfoot td {
	padding: 1px 0px 1px 8px;
}
table.dataTable tfoot input {
	width: 90%;
}
/* End DataTables */