@font-face {
	font-family: 'Colaborate';
	src: url('Fonts/Colaborate/ColabThi-webfont.eot');
	src: url('Fonts/Colaborate/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
	url('Fonts/Colaborate/ColabThi-webfont.woff') format('woff'),
	url('Fonts/Colaborate/ColabThi-webfont.ttf') format('truetype'),
	url('Fonts/Colaborate/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
	font-weight: 100;
	font-style: normal;

}

