@font-face {
	font-family: 'colaborate-thinregular';
	src: url('Fonts/Colaborate/ColabThi-webfont.eot');
	src: url('Fonts/Colaborate/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
	url('Fonts/Colaborate/ColabThi-webfont.woff') format('woff'),
	url('Fonts/Colaborate/ColabThi-webfont.ttf') format('truetype'),
	url('Fonts/Colaborate/ColabThi-webfont.svg#colaborate-thinregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'colaborate-lightregular';
	src: url('ColabLig-webfont.eot');
	src: url('ColabLig-webfont.eot?#iefix') format('embedded-opentype'),
	url('ColabLig-webfont.woff') format('woff'),
	url('ColabLig-webfont.ttf') format('truetype'),
	url('ColabLig-webfont.svg#colaborate-lightregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'colaborate-regularregular';
	src: url('Fonts/Colaborate/ColabReg-webfont.eot');
	src: url('Fonts/Colaborate/ColabReg-webfont.eot?#iefix') format('embedded-opentype'),
	url('Fonts/Colaborate/ColabReg-webfont.woff') format('woff'),
	url('Fonts/Colaborate/ColabReg-webfont.ttf') format('truetype'),
	url('Fonts/Colaborate/ColabReg-webfont.svg#colaborate-regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'colaborate-mediumregular';
	src: url('ColabMed-webfont.eot');
	src: url('ColabMed-webfont.eot?#iefix') format('embedded-opentype'),
	url('ColabMed-webfont.woff') format('woff'),
	url('ColabMed-webfont.ttf') format('truetype'),
	url('ColabMed-webfont.svg#colaborate-mediumregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'colaborate-boldregular';
	src: url('ColabBol-webfont.eot');
	src: url('ColabBol-webfont.eot?#iefix') format('embedded-opentype'),
	url('ColabBol-webfont.woff') format('woff'),
	url('ColabBol-webfont.ttf') format('truetype'),
	url('ColabBol-webfont.svg#colaborate-boldregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

