.left {
	/* Search */
	form fieldset {
		position: relative;
		.icon-search {
			position: absolute;
			top: 8px;
			right: 8px;
			color: $blue;
		}
	}
}

/* Start datepicker */
.datepickerIcon {
	cursor: pointer;
}
/* End datepicker */

/* Start Contract Wizard / Form */
.collapse .row-fluid {
  margin: 20px 0px 20px 0px;
}
.compact-form {
	margin: 0px;
}
.country { float: left }
.country i {
	background: url("../../../Form/Images/flags.png") no-repeat;
	display: inline-block;
	width: 16px;
	height: 11px;
}

.article-values span {
    margin-right: 20px;
}
/* End Contract Wizard / Form */
