/* First 4 need to have this order */
/* General */
html, body { font-family: 'Colaborate', sans-serif; height: 100%; }

/* Sticky Footer Begin */
.body { min-height: 100%; height: 100%; height: auto !important; margin: 0 auto -40px !important; }

footer, .push { height: 40px; }

footer { margin-top: -80px !important; }

/* Sticky Footer End */
.container-fluid { max-width: 960px; margin: 0 auto; }

footer { position: relative; font-size: small; font-weight: 100; }
footer .footer { float: left; }
footer .logo { float: right; letter-spacing: -0.1em; color: #049cdb; position: relative; }
footer .logo i { position: absolute; left: -8px; top: 1px; font-size: 0.8em; }

.page-header { position: relative; }
.page-header .home { font-size: 300%; position: absolute; bottom: 15px; color: #049cdb; }
.page-header h1 { text-align: right; color: #eeeeee; }

.left h3 { font-size: 1em; font-weight: normal; text-transform: uppercase; letter-spacing: -1px; margin-bottom: 0; }

/* Breadcrumb */
.breadcrumb { background: none; padding: 0; }

/* Index */
.jumbotron { margin: 100px 0; text-align: center; }
.jumbotron h1 { letter-spacing: -0.1em; color: #049cdb; }
.jumbotron h1 i { margin-right: 8px; }
.jumbotron .lead { text-transform: uppercase; font-size: small; letter-spacing: -0.05em; }

.index { text-align: center; }
.index .btn { padding: 20px 30px; position: relative; }
.index .btn i { position: absolute; top: 5px; left: 8px; }

/* This forces the main application div to be 100% height in order to allow for a sticky footer */
.ember-view.full { height: 100%; }

@font-face { font-family: 'Colaborate'; src: url("Fonts/Colaborate/ColabThi-webfont.eot"); src: url("Fonts/Colaborate/ColabThi-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Colaborate/ColabThi-webfont.woff") format("woff"), url("Fonts/Colaborate/ColabThi-webfont.ttf") format("truetype"), url("Fonts/Colaborate/ColabThi-webfont.svg#ColaborateThinRegular") format("svg"); font-weight: 100; font-style: normal; }

/* From here add alphabetically */
.accordion { border: 1px solid #e5e5e5; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

.accordion-group { margin-bottom: 2px; border: none; }

.block { position: relative; text-align: center; font-size: 1.2em; margin-bottom: 20px; padding: 30px 0 20px 0; }
.block .badge { position: absolute; top: -5px; right: -10px; }

/* Start DataTables */
table.dataTable thead th, table.dataTable td { padding: 8px; }

table.dataTable tfoot td { padding: 1px 0px 1px 8px; }

table.dataTable tfoot input { width: 90%; }

/* End DataTables */
ul.flashmessages { list-style-type: none; margin-left: 0px; }

.left { /* Search */ }
.left form fieldset { position: relative; }
.left form fieldset .icon-search { position: absolute; top: 8px; right: 8px; color: #049cdb; }

/* Start datepicker */
.datepickerIcon { cursor: pointer; }

/* End datepicker */
/* Start Contract Wizard / Form */
.country i { background: url("../../../Form/Images/flags.png") no-repeat; display: inline-block; width: 16px; height: 11px; }

.article-values span { margin-right: 20px; }

/* End Contract Wizard / Form */
a:hover { text-decoration: none; }

.align-center { text-align: center; }

.muted { opacity: 0.6; }

/* Start Modal box / Wizard */
.modal-body-content { width: 100%; height: 320px; }

iframe { border: none; }

#modal-body-only .modal-body { padding: 0; max-height: 100%; }
#modal-body-only .modal-body .icon-spin { margin: 0 30px 30px; }
#modal-body-only form { margin: 0; }
#modal-body-only form fieldset { padding: 20px 0 20px 60px; margin-right: 20px; }
#modal-body-only form fieldset legend { margin-bottom: 0; border: none; }
#modal-body-only form fieldset legend + .control-group { margin-top: 0; }
#modal-body-only form .form-actions { margin-bottom: 0; padding-left: 60px; }

.modal-large { width: 80%; height: 80%; left: 10%; top: 10%!important; margin: 0; }

/* End Modal box / Wizard */
/* Start Notifications */
.notifications { z-index: 10001; }

/* End Notifications */
.stack { display: inline-block; }
.stack i { display: block; clear: both; height: 6px; line-height: 10px; }

.left { /* Tasks */ }
.left .accordion .accordion-heading { position: relative; }
.left .accordion .accordion-heading .badge { position: absolute; right: 10px; top: 10px; }

.tooltip { text-transform: lowercase; letter-spacing: normal; }
.tooltip .tooltip-inner { line-height: 1.8em; padding: 5px 20px; }
